body {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  min-width: 400px;
  background-color: #cfdfc0;
  text-align: center;
}

.heading {
  text-align: center;
  font-size: 2em;
  color: #003865;
  margin: 20px 0 30px;
}

.card {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #d4f6cc;
  margin: 50px 0;
  height: 200px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}

.top {
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 100%;
  background-color: #3ccf4e;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.number {
  margin: 10px 0px 0px 12px;
  color: #003865;
}

.name {
  font-size: 1em;
  color: #003865;
  display: flex;
  flex: 1;
  margin: 10% 20px 0;
}

.card img {
  margin: 30px 20px 0 0;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}

.blackRibbon-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 1em;
}

.bottom {
  margin-top: 120px;
}

.info {
  margin: 20px 0;
  color: #003865;
}
